<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
	<select id="getAllUsers" resultType="pojo.UserPo">
		SELECT id,`name`,age,sex,a.dept_id,b.dept_name from  user a,dept b where a.dept_id = b.dept_id
	</select>
</mapper>